.swiper-container {
  overflow: visible !important;
}

.swiper-slide {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.swiper-slide > img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero {
  padding-top: 100px;
  overflow: hidden;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}

.mobile-menu {
  position: fixed;
  top: 60px;
  right: 0;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mobile-menu__btn {
  position: absolute;
  top: 35%;
  right: 5%;
  cursor: pointer;
}

.mobile-menu__btn span {
  display: block;
  width: 40px;
  height: 2px;
  margin-bottom: 10px;
  background-color: black;
}

.mobile-menu__main {
  width: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 2000px;
          perspective: 2000px;
}

.mobile-menu__item {
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  list-style: none;
  margin-bottom: 20px;
  padding: 0 50px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.mobile-menu__item a {
  text-decoration: none;
}

.menu-open #container {
  -webkit-transform: translate(-300px, 60px);
          transform: translate(-300px, 60px);
  -webkit-box-shadow: 10px 1px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 1px 10px 0px rgba(0, 0, 0, 0.3);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.fade-img {
  width: 100%;
  height: 150px;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  overflow: visible;
}

.fade-img.inview {
  opacity: 1;
}

.fade-img > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.zoom:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.pace-done #global-container {
  opacity: 1;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

.pace-done .loader-img {
  opacity: 0;
}

.loader-img {
  position: fixed;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-43%, -50%);
          transform: translate(-43%, -50%);
  width: 50px;
  height: 50px;
}

.loader-img__parts {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 5px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-name: kf-loader-anime;
          animation-name: kf-loader-anime;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.loader-img__parts:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.loader-img__parts:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.loader-img__parts:nth-child(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.loader-img__parts:nth-child(4) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.loader-img__parts:nth-child(5) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.loader-img__parts:nth-child(6) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.loader-img__parts:nth-child(7) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.loader-img__parts:nth-child(8) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.loader-img__parts__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #a73176;
}

@-webkit-keyframes kf-loader-anime {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes kf-loader-anime {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#global-container {
  opacity: 0;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  background-clip: padding-box;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-transform: none !important;
          transform: none !important;
}

.pace .pace-progress:after {
  content: 'Loading';
  color: #a73176;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
}

.pace.pace-inactive {
  display: none;
}

body {
  margin: 0;
}

.mb-sm {
  margin-bottom: 20px;
}

.mb-lr {
  margin-bottom: 40px;
}

.mb-lg {
  margin-bottom: 100px;
}

.pb-sm, .category__image {
  padding-bottom: 20px;
}

.pb-lr, .information__title, .category__title, .category__item {
  padding-bottom: 40px;
}

.pb-lg, .hero, .information {
  padding-bottom: 100px;
}

.main-title {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.sub-title {
  font-size: 15px;
  color: #353535;
}

.content-width, .information__title, .category, .footer__nav {
  margin: 0 40px;
}

#container {
  position: relative;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  background-color: white;
  z-index: 5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100px;
  width: 100%;
  background-color: transparent;
}

.header.triggered {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
}

.information {
  overflow: hidden;
}

.information__image {
  position: relative;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  overflow: visible;
}

.category__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__item {
  text-align: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.category__item > a {
  text-decoration: none;
}

.footer {
  background-color: #d0d0d0;
  padding: 80px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__link {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__link > a {
  text-decoration: none;
  color: #353535;
}

.footer__item {
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
  .fade-img {
    height: 220px;
  }
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__item {
    margin-left: 30px;
    margin-bottom: 0;
  }
  .footer__copyright {
    margin-right: 30px;
  }
}

@media screen and (min-width: 960px) {
  .fade-img {
    height: 280px;
  }
  .swiper-container > .swiper-wrapper > .swiper-slide {
    -webkit-box-shadow: -6px 5px 25px 3px rgba(0, 0, 0, 0.5);
            box-shadow: -6px 5px 25px 3px rgba(0, 0, 0, 0.5);
  }
}
/*# sourceMappingURL=style.css.map */