@import 'modules/variables';
@import 'modules/hero-slider';
@import 'modules/mobile-menu';
@import 'modules/fade-image';
@import 'breakpoint/base';

@media screen and (min-width: 460px) {
  @import 'breakpoint/480up';
}
@media screen and (min-width: 600px) {
  @import 'breakpoint/600up';
}
@media screen and (min-width: 960px) {
  @import 'breakpoint/960up';
}
@media screen and (min-width: 1280px) {
  @import 'breakpoint/1280up';
}
@media (min-resolution: 192dpi),(-webkit-min-device-pixel-ratio: 2){
  @import 'breakpoint/2x';
}
@media print{
  @import 'breakpoint/print';
}