$cWhite: white;
$cBlack: black;
$cSubTitle: #353535;
$cMainTitle: $cBlack;


.main-title{
  font-size: 20px;
  font-weight: 600;
  color: $cMainTitle;
}

.sub-title{
  font-size: 15px;
  color: $cSubTitle;
}

body{
  margin: 0;
}

#global-container{
  &.inview{
    #container{
      transform: translate(-300px, 60px);
      box-shadow: 10px 1px 10px 0px rgba(0, 0, 0, 0.3);
    }

    .mobile-menu{
      &__cover{
        opacity: 1;
        visibility: visible;
      }

      &__item{
        opacity: 1;
        transform: none;
      }
    }
  }
}

#container{
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: teal;
  transition: all 0.5s ease;
  z-index: 10;
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: $cWhite;
}

.mobile-menu{
  &__cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  &__btn{
    position: absolute;
    top: 35%;
    right: 5%;
    cursor: pointer;
    
    & span{
      display: block;
      width: 40px;
      height: 2px;
      margin-bottom: 10px;
      background-color: $cBlack;
    }
  }

  &__main{
    position: fixed;
    top: 60px;
    right: 0;
    z-index: -1;
    width: 300px;
    transform-style: preserve-3d;
    perspective: 2000px;
    z-index: 5;
  }
  
  &__item{
    transform: translate3d(0, 0, -1000px);
    list-style: none;
    margin-bottom: 20px;
    padding: 0 50px;
    opacity: 0;
    transition: all 0.5s ease;
    cursor: pointer;

    @for $i from 1 through 3{
      &:nth-child(#{$i}){
        transition-delay: 0.07s * $i;
      }
    }

    &  a{
      text-decoration: none;
    }
  }
}