.swiper-container {
  overflow: visible !important;
}

.swiper-slide{
  overflow: hidden;
  height: 400px;
  & > img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.hero{
  padding-top: 100px;
  overflow: hidden;
}